.CFUserTextEncoding
.DS_Store
.Trash/
.bash_history
.cinderella/
.gem/
.gemrc
.irbrc
.lesshst
.mysql_history
.netrc
.npm/
.npmrc
.psql_history
.rdebugrc
.ssh/
.subversion/
.tmux.conf
.vim/.VimballRecord
.vim/.netrwhist
.vim/doc/
.vim/plugin/
.vim/ruby/
.viminfo
Desktop/
Developer/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
work/
