<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>You Don&apos;t Know What Love Is</string>
		<key>artist</key>
		<string>The White Stripes</string>
		<key>lyrics</key>
		<string>In some respects
I suspect you&apos;ve got a respectable side
When pushed and pulled and pressured
You seldom run and hide 
But it&apos;s for someone elses benefit 
Not for what you wanna do
Until I realize that you&apos;ve realized
I&apos;m gonna say these words to you

You don&apos;t know what love is
You do as you&apos;re told
Just as a child at ten might act
But you&apos;re far too old
You&apos;re not hopeless or helpless
And I hate to sound cold
But you don&apos;t know what love is...
You just do as you&apos;re told

I can see your man
Cant help but win
Any problems that may arise
But in his mind there can be no sin 
If you never criticize
You just keep on repeating
All those empty &quot;I love you&apos;s&quot;
Until you say you deserve better
I&apos;m gonna lay right into you

You don&apos;t know what love is
You just do as you&apos;re told
Just as a child of ten might act
But you&apos;re far too old
Your not hopeless or helpless
And I hate to sound cold
But you don&apos;t know what love is
No you don&apos;t know what love is
No you don&apos;t know what love is

You just do as you&apos;re told
You do as you&apos;re told
Yeah</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Still The Same</string>
		<key>artist</key>
		<string>Bob Seger</string>
		<key>lyrics</key>
		<string>You always won everytime you placed a bet
You&apos;re still damn good
No one&apos;s gotten to you yet
Everytime they were sure they had you caught
You were quicker than they thought
You&apos;d just turn your back and walk
You always said
The cards would never do you wrong
The trick you said
was never play the game too long
A gambler&apos;s share
The only risk that you would take
the only loss you could forsake
The only bluff you couldn&apos;t fake

And you&apos;re still the same
I caught up with you yesterday
Moving game to game
No one standing in your way
Turning on the charm
Long enough to get you by
You&apos;re still the same
You still aim high

There you stood
Everybody watched you play
I just turned and walked away
I had nothing left to say
&apos;Cause you&apos;re still the same
You&apos;re s are still the same
Moving game to game
Some things never change
You&apos;re still the same</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Seven Nation Army</string>
		<key>artist</key>
		<string>The White Stripes</string>
		<key>lyrics</key>
		<string>I&apos;m gonna fight &apos;em off
A seven nation army couldn&apos;t hold me back
They&apos;re gonna rip it off
Taking their time right behind my back
And I&apos;m talkin&apos; to myself at night
Because I can&apos;t forget
Back and forth through my mind
Behind a cigarette

And the message comin&apos; from my eyes says leave it alone...

Don&apos;t wanna hear about it
Every single one&apos;s got a story to tell
Everyone knows about it
From the Queen of England to the hounds of hell
And if I catch it comin&apos; back my way
I&apos;m gonna serve it to you
And that ain&apos;t what you want to hear
But that&apos;s what I&apos;ll do

And the feeling coming from my bones says find a home...

I&apos;m going to Wichita
Far from this opera forevermore
I&apos;m gonna work the straw
Make the sweat drip out of every pore
And I&apos;m bleeding, and I&apos;m bleeding, and I&apos;m bleeding
Right before the lord
All the words are gonna bleed from me
And I will think no more

And the stains comin&apos; from my blood tell me &quot;Go back home&quot;...</string>
	</dict>
</array>
</plist>
